@charset 'UTF-8';

img{
  max-width: 100%;
  object-fit: cover;
}

#btn,#btn02,#btn03,#btn04{
  width: 200px;
  height: 200px;
  background: #32b0a573;
  border-radius: 50%;
  margin-top: 40px;
  font-family: 'Righteous', cursive;
  text-align: center;
  color: #e91e6354;
  font-size: 2rem;
  line-height: 200px;
}
html{
  background: #e91e6317;
}
body {
  padding-bottom: 50px;
}
.container{
  position: relative;
}
.square{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: #32b0a573;
  top: -40px;
  right: 90px;
}
.wrap {
  display: flex;
}
p.txt {
  font-family: 'Yomogi', cursive;
  margin: 100px 30px 0;
}
p.msg{
  text-align: center;
}
p span{
  font-weight: bold;
}
.square02 {
  order: 1;
}
.square04 {
  margin-left: 80px;
}

@media (min-width:600px){
  #btn{
    margin-left: 35%;
    font-size: 2rem;
    line-height: 200px;
  }
}
@media (min-width:1300px){
  #btn{
    position: absolute;
    top: -400px;
    left: -400px;
    padding: 0;
    height: 200px;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 200px;
  }
  p br{
    display: none;
  }
  .square{
    display: none;
  }
  #btn02.square02{
    position: absolute;
    top: -800px;
    left: 300px;
    padding: 0;
    height: 200px;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 200px;
  }
  #btn03.square03{
    position: absolute;
    top: -900px;
    left: 1100px;
    padding: 0;
    height: 200px;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 200px;
  }
  #btn04.square04{
    position: absolute;
    top: -600px;
    right: 100px;
    padding: 0;
    height: 200px;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 200px;
  }
  p.txt {
    display: none;
  }
}